DJANGO_DEBUG=True
DJANGO_SECRET_KEY=cambia-esta-clave-antes-de-produccion
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1],tudominio.com,www.tudominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://tudominio.com,https://www.tudominio.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_ADMIN_LOGIN_MAX_ATTEMPTS=5
DJANGO_ADMIN_LOGIN_BLOCK_MINUTES=15
BUSINESS_WHATSAPP_NUMBER=573116262155
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@tudominio.com
DJANGO_SUPERUSER_PASSWORD=cambia-esta-clave-super-segura
DJANGO_SUPERUSER_RESET_PASSWORD=False
